:root {
  --main-color: rgb(245, 150, 100);
  --accent-color: rgb(20, 80, 120);
  --gray-text: #757575;
  --bold-font: 600;
}
body {
  background-color: #e5e5e5;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #fff;
  margin: 40px auto;
  padding: 40px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-content {
  /* display: flex;
    flex-direction: column; */
  padding: 100px 90px;
}
.main-content-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.title-background {
  margin: 0;
  color: var(--accent-color);
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 10px 0 10px 20px;
  margin-left: -20px;
}
/********************/
/* About me section */

.about-me-profession {
  margin: 0;
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}
.about-me-name {
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
}
.about-me-info {
  margin: 0;
  width: 600px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}

/* My projects section */
.my-projects {
  margin-bottom: 50px;
}
.my-projects-list {
  padding: 0 0 0 18px;
}
.my-projects-item {
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  padding-left: 7px;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  // margin-left: 7px;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--main-color);
}
:hover.my-projects-link {
  color: var(--accent-color);
}
.my-projects-brackets {
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
/* My work experience */
.my-work-experience {
  margin-bottom: 50px;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.my-work-experience-company {
  color: var(--accent-color);
}
.my-work-experience-work-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray-text);
  margin-bottom: 10px;
}
.my-work-experience-divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.my-work-experience-duties-list {
  padding-left: 18px;
}
.my-work-experience-duties-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin: 0px;
  padding-bottom: 3px;
}
.my-work-experience-company-block {
  margin-bottom: 15px;
}

/* Education */
.my-education {
  margin-bottom: 40px;
}
.my-education-university {
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
  margin-bottom: 10px;
}
.my-education-profession {
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}
.my-education-university-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray-text);
  margin-bottom: 20px;
}
.my-education-university-time-divider {
  color: black;
}

/* Additional Education */
.my-add-education {
  margin-bottom: 40px;
}
.my-add-education-university {
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 20px;
  color: var(--accent-color);
  margin-bottom: 10px;
}
.my-add-education-profession {
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}
.my-add-education-university-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: var(--gray-text);
  margin-bottom: 20px;
}
.my-add-education-university-time-divider {
  color: black;
}

/*****************/
/*Sidebar section*/
.sidebar {
  background: var(--main-color);
  width: 75%;
  padding: 40px 0;
  border-radius: 10px;
}
.sidebar-title {
  font-style: normal;
  font-weight: var(--bold-font);
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/*My photo section*/
.my-photo {
  display: block;
  max-width: 100%;
  height: auto;
}
.my-photo-overflow {
  // border: 2px solid var(--accent-color);
  border-radius: 5%;
  width: 60%;
  margin: 0 auto;

  overflow: hidden;
}

/*Contacts section*/
.contacts {
  margin-top: 50px;
  margin-left: 35px;
}
.contacts-type {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}
.contacts-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
:hover.contacts-text {
  color: var(--accent-color);
}

.icon-svg {
  fill: rgb(20, 80, 120);
}

:hover.icon-svg {
  fill: white;
}

/*Tech skills section*/
.tech-skills {
  margin-top: 47px;
  margin-left: 35px;
}
.tech-skills-dots {
  color: var(--accent-color);
  padding: 0 0 0 17px;
}
.tech-skills-list-item {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/*Soft skills section*/
.soft-skills {
  margin-top: 44px;
  margin-left: 35px;
}
.soft-skills-dots {
  color: var(--accent-color);
  padding: 0 0 0 17px;
}
.soft-skills-list-item {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/*Hard skills section*/
.hard-skills {
  margin-top: 44px;
  margin-left: 35px;
}
.hard-skills-dots {
  color: var(--accent-color);
  padding: 0 0 0 17px;
}
.hard-skills-list-item {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/*Language skills section*/
.language-skills {
  margin-top: 44px;
  margin-left: 35px;
}
.language-skills-dots {
  color: var(--accent-color);
  padding: 0 0 0 17px;
}
.language-skills-list-item {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
