body {
  background-color: #e5e5e5;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
}
.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: #fff;
  margin: 40px auto;
  padding: 40px;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-content {
  /* display: flex;
    flex-direction: column; */
  padding: 100px 90px;
}
.main-content-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
/********************/
/* About me section */
.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 20px;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: rgb(210, 111, 111);
  margin-bottom: 25px;
}
.about-me-info {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
}

/* My projects section */
.my-projects {
  margin-bottom: 50px;
}
.my-projects-list {
  padding: 0 0 0 18px;
}
.my-projects-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 7px;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-brackets {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
/* My work experience */
.my-work-experience {
  margin-bottom: 50px;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.my-work-experience-company {
  color: rgb(210, 111, 111);
}
.my-work-experience-work-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.my-work-experience-divider {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.my-work-experience-duties-list {
  padding-left: 18px;
}
.my-work-experience-duties-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-company-block {
  margin-bottom: 15px;
}

/* Education */
.my-education-university {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: rgb(210, 111, 111);
  margin-bottom: 10px;
}
.my-education-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 10px;
}
.my-education-university-time {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 20px;
}
.my-education-university-time-divider {
  color: black;
}

/*****************/
/*Sidebar section*/
.sidebar {
  background: #2e1e3a;
  width: 370px;
  padding: 40px 0;
  border-radius: 10px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

/*Contacts section*/
.contacts {
  margin-top: 50px;
  margin-left: 40px;
}
.contacts-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}
.contacts-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgb(210, 111, 111);
}

/*Tech skills section*/
.tech-skills {
  margin-top: 47px;
  margin-left: 40px;
}
.tech-skills-dots {
  color: rgb(216, 71, 71);
  padding: 0 0 0 17px;
}
.tech-skills-list-item {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/*Soft skills section*/
.soft-skills {
  margin-top: 44px;
  margin-left: 40px;
}
.soft-skills-dots {
  color: rgb(216, 71, 71);
  padding: 0 0 0 17px;
}
.soft-skills-list-item {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
